<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>Solutions to book exercises</title>
<style type="text/css">
body{font-family: Arial, Helvetica, Sans;}
</style>
<meta charset="utf-8">
</head>

<body>
<h1>Solutions to book exercises</h1> 

<p>The book <strong>Analyzing Financial and Economic Data with R</strong> is available at <a href = "https://www.amazon.com/dp/B084LSNXMN">Amazon<a>, as an ebook and print. A restricted online version is available at <a href = "https://www.msperlin.com/afedr" >https://www.msperlin.com/afedr<a></p>

<h2>Questions</h2>

##\exinput{exercises}##

</body>
</html>
