<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>Solução Exercícios VDR</title>
<style type="text/css">
body{font-family: Arial, Helvetica, Sans;}
</style>
<meta charset="utf-8">
</head>

<body>
<h1>Solução de exercícios de final de capítulo</h1> 

<p>O livro <strong>Visualização de Dados com o R</strong> está disponível na <a href = "TODO">Amazon<a> no formato ebook e impresso. Uma versão online do livro é disponível em <a href = "https://www.msperlin.com/vdr" >https://www.msperlin.com/vdr<a></p>

<h2>Questões</h2>

##\exinput{exercises}##

</body>
</html>
